<%if obj.errors.present? %>
  <div id="errors" class="errors">
    <h3>has Error</h3>
    <ul>
  <% obj.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
    </ul>
  </div>
<% end %>
